@import "tailwindcss";
@import "flyonui/variants.css";

@source "../views";
@plugin "@iconify/tailwind4";
@plugin "flyonui" {
    themes: light --default, dark --prefersdark, soft;
  }
@import "flyonui/src/vendor/flatpickr.css";

  body{
  /* background-image: url('/Syscake-WEB/public/images/fondo.png'); */
  background-image: url('/images/fondo.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.enlace-registro{
  color: darkgrey;
  font-size: 10px;
}